@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Buck</h1>
    <p>
       The progeny of those dastardly modern day rennaisance men - Matt Howard and Luke James. 
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
