@{
    Page.Title = "Front";
}


<section id="front header">

 
</section>

<div style="text-align: center">
<img src="/images/BuckPic.Jpg" alt="Buck" width="497" height="800"  img style="float:middle" />
   <p>
       Chasing doe since 2003
    </p>


<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
